{% if markup %}
    <div class="{{ container.attributes.class }}">
        {{ markup }}
    </div>
{% endif %}

{% if not markup and image %}
    <a href="{{ link.attributes.href }}" class="{{ link.attributes.class }}">
        {{ image.markup }}
    </a>
{% endif %}
