<div class="{{ container.attributes.class }}">
    <span>
        {{ text }}
    </span>
    <a href="{{ link.attributes.href }}" class="{{ link.attributes.class }}">
        <time title="{{ time.attributes.title }}" datetime="{{ time.attributes.datetime }}">
            {{ time.date }}
        </time>
    </a>
</div>
